<!DOCTYPE html>
<html>
<head>
  <title>Yak Score Prediction</title>
  <style>
	label,textarea, input{
  display:inline-block;
  vertical-align:middle;
}
  </style>
<link rel="stylesheet" href="static/github-markdown.css">
<style>
    .markdown-body {
        min-width: 200px;
        max-width: 790px;
        margin: 0 auto;
        padding: 30px;
    }
</style>
 </head>
<body>
<article class="markdown-body">
<h1> Yik Yak Category Predictor </h1>
  <form action="{{ url_for('predict') }}" method="POST">
    <label for="theyak">Type your yak:</label>  
	<textarea name="theyak" rows="3" cols="40" align="bottom"></textarea>
	<button name="yak_submit" value="value" type="submit">How good is my Yak?</button>
   </form>
</article>
</body>
</html>
